<nav
  id="navbar"
  [class]="
    isMain
      ? isLogoSmall
        ? 'navbar navbar-expand-lg fixed-top d-block navbar-compact'
        : 'navbar navbar-expand-lg fixed-top py-3 d-block'
      : 'navbar navbar-expand-lg bg-primary fixed-top py-3 d-block'
  "
  data-navbar-on-scroll="data-navbar-on-scroll"
>
  <div class="container">
    <a class="navbar-brand" [class.logo-small]="isLogoSmall" href="#goTop">
      <app-logo
        [width]="isLogoSmall ? '90px' : '120px'"
        [height]="isLogoSmall ? '60px' : '80px'"
        [scale]="isLogoSmall ? 0.7 : 1"
        color="#ffffff"
        className="navbar-logo"
      >
      </app-logo>
    </a>
    <div
      class="collapse navbar-collapse border-lg-0 mt-4 mt-lg-0"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mx-auto pt-2 ms-2 pt-lg-0 font-base"></ul>
      <div>
        <button class="btn btn-sm btn-outline-light order-0" type="button">
          Ver mi reserva
        </button>
      </div>
    </div>
  </div>
</nav>
