<main class="main" id="top">
  <app-header></app-header>
  <section class="mt-7 py-0" id="goTop">
    <div
      class="bg-holder w-50 bg-right d-none d-lg-block"
      style="
        background-image: url(https://garbrix.com/assets/img/gallery/hero-section-1.png);
      "
    ></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
          <h1 class="display-3 text-1000 fw-normal">Hagamos un recorrido</h1>
          <h1 class="text-primary fw-bold">
            <span id="quote" class="typing-effect"></span>
          </h1>
          <div class="pt-5">
            <div class="tab-content" id="nav-tabContent">
              <div
                class="container"
                id="nav-contact"
                role="tabpanel"
                aria-labelledby="nav-contact-tab"
              >
                <div class="row g-4 mt-5">
                  <div class="col-6">
                    <div class="input-group-icon">
                      <input
                        class="form-control input-box form-voyage-control"
                        id="inputDateFive"
                        type="date"
                      /><span
                        class="nav-link-icon text-800 fs--1 input-box-icon"
                        ><i class="fas fa-calendar"></i
                      ></span>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-group-icon">
                      <input
                        class="form-control input-box form-voyage-control"
                        id="inputDateSix"
                        type="date"
                      /><span
                        class="nav-link-icon text-800 fs--1 input-box-icon"
                        ><i class="fas fa-calendar"></i
                      ></span>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-group-icon">
                      <label
                        class="form-label visually-hidden"
                        for="inputPeopleThree"
                        >Person</label
                      >
                      <select
                        class="form-select form-voyage-select input-box"
                        id="inputPeopleThree"
                      >
                        <option selected="selected">2 Adults</option>
                        <option>2 Adults 1 children</option>
                        <option>2 Adults 2 children</option></select
                      ><span class="nav-link-icon text-800 fs--1 input-box-icon"
                        ><i class="fas fa-user"> </i
                      ></span>
                    </div>
                  </div>
                  <div class="col-12 d-grid mt-6">
                    <button class="btn btn-secondary" type="submit">
                      Buscar Paquetes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-0 overflow-hidden" id="target-element">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 px-0">
          <img
            class="img-fluid order-md-0 mb-4 h-100 fit-cover"
            src="https://garbrix.com/assets/img/gallery/hero-section-2.png"
            alt="..."
          />
        </div>
        <div class="col-lg-6 px-0 bg-dark">
          <div class="mx-6 mx-xl-8 my-8">
            <div class="align-items-center d-block d-flex mb-5">
              <img
                class="img-fluid me-3 me-md-2 me-lg-4"
                src="https://garbrix.com/assets/img/icons/locations.png"
                alt="..."
              />
              <div class="flex-1 align-items-center pt-2">
                <h5 class="fw-bold text-light">Visita los mejores destinos.</h5>
              </div>
            </div>
            <div class="align-items-center d-block d-flex mb-5">
              <img
                class="img-fluid me-3 me-md-2 me-lg-4"
                src="https://garbrix.com/assets/img/icons/schedule.png"
                alt="..."
              />
              <div class="flex-1 align-items-center pt-2">
                <h5 class="fw-bold text-light">Diseña tu propia aventura.</h5>
              </div>
            </div>
            <div class="align-items-center d-block d-flex mb-5">
              <img
                class="img-fluid me-3 me-md-2 me-lg-4"
                src="https://garbrix.com/assets/img/icons/save.png"
                alt="..."
              />
              <div class="flex-1 align-items-center pt-2">
                <h5 class="fw-bold text-light">Ahorra dinero.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="testimonial">
    <div class="container">
      <div class="row h-100">
        <div class="col-lg-7 mx-auto text-center mb-6">
          <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Ofertas Relámpago</h5>
        </div>
        <div class="col-12">
          <div
            class="carousel slide"
            id="carouselTestimonials"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="1000">
                <div class="row h-100 align-items-center g-2">
                  <div class="col-md-4 mb-3 mb-md-0 h-100">
                    <app-package-card></app-package-card>
                  </div>
                  <div class="col-md-4 mb-3 mb-md-0 h-100">
                    <app-package-card></app-package-card>
                  </div>
                  <div class="col-md-4 mb-3 mb-md-0 h-100">
                    <app-package-card></app-package-card>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <div class="row h-100 align-items-center g-2">
                  <div class="col-md-4 mb-3 mb-md-0 h-100">
                    <app-package-card></app-package-card>
                  </div>
                  <div class="col-md-4 mb-3 mb-md-0 h-100">
                    <app-package-card></app-package-card>
                  </div>
                  <div class="col-md-4 mb-3 mb-md-0 h-100">
                    <app-package-card></app-package-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-7 overflow-hidden" id="lugares">
    <div class="container bg-offcanvas-gray-right">
      <div class="row gx-2 mb-2">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="bg-dark bg-offcanvas h-100">
            <div class="row g-0 justify-content-end">
              <div class="col-12">
                <div class="p-6 py-md-5 px-md-3 py-lg-8 text-light">
                  <h2 class="mb-2 text-light mt-5">
                    <i class="fas fa-map-marker-alt"></i> Lugares magicos
                  </h2>
                  <p class="p-2">
                    Disfruta de los beneficios de nuestros paquetes para los
                    sitios donde nuestros visitantes se divierten más. Todo
                    organizado de manera impecable y con costos accesibles.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <app-place-card></app-place-card>
        </div>
        <div class="col-sm-6 col-lg-4">
          <app-place-card></app-place-card>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-sm-6 col-lg-4">
          <div class="row g-2">
            <div class="col-12">
              <app-place-card></app-place-card>
            </div>
            <div class="col-12">
              <app-place-card></app-place-card>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="row g-2">
            <div class="col-12">
              <app-place-card></app-place-card>
            </div>
            <div class="col-12">
              <app-place-card></app-place-card>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="bg-dark ps-1 h-100 d-flex align-items-center">
            <div class="text-light p-4 p-sm-6 p-lg-0 px-xxl-6">
              <p class="fs-2 px-4 mb-6">
                ¿Quieres viajar al lugar más emocionante del planeta? Tenemos un
                montón de sorpresas preparadas para ti.
              </p>
              <a class="btn btn-lg text-light fs-2" href="#!" role="button"
                >Saber más <i class="fas fa-arrow-alt-circle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-7 overflow-hidden" id="paquetes">
    <div class="container bg-offcanvas-gray">
      <div class="row gx-2">
        <div class="col-sm-6 col-lg-4 order-1 order-lg-0 gy-2 gy-lg-0">
          <app-package-image-card></app-package-image-card>
        </div>
        <div class="col-sm-6 col-lg-4 order-2 order-lg-0 gy-2 gy-lg-0">
          <app-package-image-card></app-package-image-card>
        </div>
        <div class="col-12 col-lg-4">
          <div class="bg-dark h-100 bg-offcanvas-right">
            <div class="row g-0 h-100">
              <div class="col-12 h-100">
                <div
                  class="d-flex flex-column justify-content-center h-100 text-light ps-4 ps-xl-5 py-5 py-lg-0"
                >
                  <h2 class="mb-2 text-light">
                    <i class="fas fa-gift"></i> Los mejores paquetes
                  </h2>
                  <p>Elige entre los paquetes más populares.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 gy-2">
          <app-package-image-card></app-package-image-card>
        </div>
        <div class="col-sm-6 col-lg-4 gy-2">
          <app-package-image-card></app-package-image-card>
        </div>
        <div class="col-sm-6 col-lg-4 gy-2">
          <app-package-image-card></app-package-image-card>
        </div>
        <div class="col-12 col-lg-8 gy-2 order-3 order-lg-0">
          <div class="bg-dark h-100">
            <div class="row h-100">
              <div class="col-12">
                <div
                  class="d-flex flex-column flex-center h-100 text-light p-4 p-sm-6 p-md-8 p-lg-0"
                >
                  <p class="fs-1 p-4 mb-5">
                    Los paquetes más exclusivos están listos para ti. ¡A solo un
                    clic de distancia!
                  </p>
                  <a class="btn btn-lg text-light fs-3" href="#!" role="button"
                    >Entrar <i class="fas fa-arrow-alt-circle-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 gy-2">
          <app-package-image-card></app-package-image-card>
        </div>
      </div>
    </div>
  </section>
  <section class="py-0 pb-8 mb-5">
    <div class="container-fluid container-lg">
      <div class="row h-100 g-2 justify-content-center">
        <div class="col-sm-9 col-md-4 mb-3 mb-md-0 h-100">
          <app-review-card></app-review-card>
        </div>
        <div class="col-sm-9 col-md-4 mb-3 mb-md-0 h-100">
          <app-review-card></app-review-card>
        </div>
        <div class="col-sm-9 col-md-4 mb-3 mb-md-0 h-100">
          <app-review-card></app-review-card>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</main>
